    <footer class="footer">
        <div class="text-center">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">&copy; Derechos reservados <i class="fa fa-hand-spock-o"></i> 2020 <a href="http://root.devinconde.com" target="_blank" rel="nofollow">La Bitácora d'</a> ROOT</small>
        </div><!--//container-->
    </footer><!--//footer-->
